<link rel="stylesheet" href="/footer.css">
<footer class="footer">
    <div class="footer-content">
        <div class="footer-item">
            <a href="/" class="footer-title">Bella Kebab</a>
        </div>
        <div class="footer-item">
            <a href="tel:123-456-789" class="footer-info">Telefon: 123-456-789</a>
        </div>
        <div class="footer-item">
            <a href="mailto:info@bellakebab.com" class="footer-info">Email: info@bellakebab.com</a>
        </div>
        <div class="footer-item">
            <span class="footer-info">Address: Hauptstr 81, 66557 Illingen</span>
        </div>
    </div>
</footer>
