<link rel="stylesheet" href="/navbar.css">
<nav class="navbar">
    <div class="navbar-brand">
        <span class="navbar-title"><a href="/" class="nav-link">Bella Kebab</a></span>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/order" class="nav-link">Bestellen</a></li>
        <li class="nav-item"><a href="/cart" class="nav-link">Warenkorb</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Kontakt</a></li>
        
    </ul>
    <!-- <div class="navbar-button">
        <a href="#" class="btn"></a>
    </div>
     -->
</nav>
